.container-fluid
  .form.row
  = form_with(model: @record, local:true) do |form|
    .form__course.col-12
      %p コース
      = form.number_field :price
    .form__price.col-12
      %p 金額
      = form.number_field :price
    .form__price.col-12
      %p 金額
      = form.number_field :price
    .form__price.col-12
      %p 金額
      = form.number_field :price
    .form__price.col-12
      %p 金額
      = form.number_field :price
    .form__price.col-12
      %p 金額
      = form.number_field :price