.container-fluid
  .index.row
    - if user_signed_in? 
      = render "index-left"
      
      .index__right.col-10
        = render "layouts/flash"
        - if @data
          .index__right__graph
            %p= "コース[#{@data_title}]"
            = line_chart @data.group_by_day(:created_at, format: "%y/%m/%d", series: false,).average(:price), messages: {empty: "[#{@data_title}]は未実施のコースです。今すぐ始めよう！"}, width: "90%", height: "350px", xtitle: "実施日", ytitle: "平均点数", curve: false
        - else
          .index__right__lead
            = image_tag '/graph.png', height: '350px', width: '50%'
            .index__right__lead__link
              = link_to( "表示したいグラフのコースを選択しよう！", edit_user_registration_path)

        = form_with(model: @record, local:true) do |form|
          .index__right__container
            .index__right__container__input
              %p コース
              = form.select :course,[["普通：お手軽"],["普通：お勧め"],["普通：高級"]], prompt: "コース選択"
            .index__right__container__input
              %p 金額
              = form.number_field :price
            .index__right__container__input
              %p 正しく打ったキーの回数
              = form.number_field :really_type
            .index__right__container__input
              %p 平均キータイプ数
              = form.number_field :avarage_type, step: "0.1"
            .index__right__container__input
              %p ミスタイプ数
              = form.number_field :miss_type
          = form.submit "送信", class: "submit"
          
    - else
      .index__right.col-12
        = link_to "ログイン", new_user_session_path, class: "btn btn-secondary col-12",role:"button"
        = link_to "新規登録", new_user_registration_path, class: "btn btn-secondary col-12",role:"button"
        = link_to "使い方", landing_records_path, class: "btn btn-secondary col-12",role:"button"
        