.container-fluid
  .index.row
    .index__left.col-3
      .index__left__container
        - if user_signed_in?
          .index__left__container__profile
            .index__left__container__profile__avatar
              = image_tag current_user.avatar.url, height: '70px', width: '70px', class: 'avatar'
            .index__left__container__profile__name
              = current_user.nickname
          .index__left__container__menu
            %ul
              %li=link_to("マイページ","/records/#{current_user.id}")
              %li=link_to("グラフ","#")
              %li=link_to("過去の記録詳細","#")
              %li=link_to("各種ランキング","#")
              %li=link_to("サイトの使い方","#")
              %li=link_to("いざ実践","#")
          .index__left__container__ranking
        - else 
          .index__left__container__profile
            .index__left__container__profile__avatar
              = image_tag '/avatar.jpg', height: '70px', width: '70px', class: 'avatar'
            .index__left__container__profile__name
              %p ゲスト
          .index__left__container__ranking
          

    - if user_signed_in?    
      .index__right.col-9
        .index__right__graph
          = area_chart @data.group_by_day(:created_at).sum(:price), width: "800px", height: "300px"

        = form_with(model: @record, local:true) do |form|
          .index__right__course.col-12
            %p コース
            = form.select :course,[["練習：お手軽"],["練習：お勧め"],["練習：高級"],["普通：お手軽"],["普通：普通"],["普通：高級"]], prompt: "コースを選択してください"
          .index__right__price.col-12
            %p 金額
            = form.number_field :price
          .index__right__price.col-12
            %p 正しく打ったキーの回数
            = form.number_field :really_type
          .index__right__price.col-12
            %p 平均キータイプ数
            = form.number_field :avarage_type, step: "0.1"
          .index__right__price.col-12
            %p ミスタイプ数
            = form.number_field :miss_type
          .index__right__price.col-12
            %p ミスタイプ数
            = form.submit "送信"
    - else
      landingPage
      = link_to "ログイン", new_user_session_path, class: "btn btn-secondary col-12 aa",role:"button"
      = link_to "新規登録", new_user_registration_path, class: "btn btn-secondary col-12 aa",role:"button"
        