.container-fluid
  .index.row
    = render "index-left"

    .show.col-10
      %h1 マイページ
      .show__profile
        .show__profile__avatar
          - if current_user.avatar.url
            = image_tag current_user.avatar.url, height: '70px', width: '70px', class: 'avatar'
          - else
            = image_tag '/avatar.jpg', height: '70px', width: '70px', class: 'avatar'
        .show__profile__name
          = current_user.nickname
        .show__profile__info
          .show__profile__info__course
            %p 選択コース：
            %h2= "[#{@data_title}]"
          .show__profile__info__course
            %p 総プレイ回数：
            %h2= @data.count
            
      .show__contents
        = link_to "ユーザー情報編集", edit_user_registration_path
        %br/
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        %br/
